[submodule "25105-shirakawa"]
	path = 25105-白川
	url = https://github.com/ckg25105-sketch/0508.git
[submodule "25007-oohira"]
	path = 25007-大平
	url = https://github.com/Ckg25007/zemi.git
[submodule "25085-takatani"]
	path = 25085-髙谷
	url = https://github.com/ckg25085-del/zemi.git
[submodule "25010-murakami"]
	path = 25010-村上
	url = https://github.com/ckg25010-ckg/050.git
[submodule "25023-kouda"]
	path = 25023-江田
	url = https://github.com/ckg25023-cpu/zemi.git
[submodule "25048-hutamata"]
	path = 25048-二俣
	url = https://github.com/ckg25048-create/zemi.git
[submodule "25101-narahara"]
	path = 25101-楢原
	url = https://github.com/ckg25101-source/zemi.git
[submodule "25033-tanaka"]
	path = 25033-田中
	url = https://github.com/25033tanaka/zemi.git
[submodule "25068-furukawa"]
	path = 25068-古川
	url = https://github.com/ckg25068-spec/zemi1129.git
[submodule "yasunaga"]
	path = 25098-安永
	url = https://github.com/ckg25098-lang/zemi.git
[submodule "25064-inoue"]
	path = 25064-井上
	url = https://github.com/ckg25064/zemi.git
[submodule "25110-shimamura"]
	path = 25110-島村
	url = https://github.com/ckg25110-crypto/fukuoka.git
[submodule "25063-niino"]
	path = 25063-新野
	url = https://github.com/ckg25063/zemi.git
[submodule "25054-koga"]
	path = 25054-古賀
	url = https://github.com/ckg25054/Kurume.git
[submodule "25014-吉村"]
	path = 25014-吉村
	url = https://github.com/elite4484/zemi.git
[submodule "25044-鶴木"]
	path = 25044-鶴木
	url = https://github.com/ponzu1204/zemi.git
[submodule "25077-kido"]
	path = 25077-kido
	url = https://github.com/ponzu1204/zemi.git
[submodule "25074-佐藤"]
	path = 25074-佐藤
	url = https://github.com/ckg25074/sato-zemi.git
[submodule "25033-tanaka-2nd"]
	path = 25033-tanaka-2nd
	url = https://github.com/25033tanaka/zemi.git
[submodule "25111-柴田"]
	path = 25111-柴田
	url = https://github.com/ckg25111-cmd/zemizemi1.git
